html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----------END RESET---------- */

body {
    background-color: black;
}

h1, h2, h3, h4 {
    font-family: 'Knewave', cursive;
    color: white;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    font-family: 'Prompt', sans-serif;
    line-height: 1.5rem;
    padding-top: 20px;
    color: white;
}

ul li {
    font-family: 'Prompt', sans-serif;
    font-size: 1.2rem;
}

.nav .nav-link {
    color: white;
}

/* ----------END GENERIC CSS---------- */

#nav-mobile {
    display: none;
}

nav {
    background: black;
    padding: 20px 0;
    border-top: 15px solid #fc0202;
}

nav img {
    width: 200px;
}

nav .nav-item {
    padding: 0 20px;
}

nav .nav-item:hover a {
    color:#fc0202
}

#nav-mobile img {
    margin: 0 auto;
    padding-bottom: 20px;
}

header {
    background: url(images/banner-image.jpg) center/cover no-repeat;
    padding: 100px 0;
}

.header-copy {
    padding: 0 100px 50px 50px;
}

header button {
    margin-top: 20px;
    background-color: #fc0202;
    padding: 15px 50px;
    border: none;
    font-family: 'Prompt', sans-serif;
    color: white;
    transition: .2s ease-in;
}

header button:hover {
    background-color: white;
    color: #fc0202;
}

#contact-details-mobile {
    display: none;
}

#contact-details, #contact-details-mobile {
    background-color: #fc0202;
    padding: 40px 0;
}

#contact-details p, #contact-details-mobile p {
    font-size: 1.2rem;
}

#contact-details h3 {
    padding-right: 30px;
}

#food-menu {
    background-image: url(images/background-1.jpg);
    padding: 80px 40px;
}

#flavors {
    padding: 80px 40px;
    background-color: #fc0202;
}

#flavors img {
    padding-top: 30px;;
}

#accordionExample p {
    color: black;
}

#accordionExample .accordion-item button {
    font-size: 2rem;
    color: white;
}

#accordionExample ul li {
    font-size: 1.5rem;
    line-height: 2rem;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #fc0202;
}

.accordion-button:focus {
    z-index: 3;
    border-color: black;
    outline: 0;
    box-shadow: none;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button.collapsed {
    background: black;
}

.accordion-item {
    border: 5px solid rgba(255,255,255);
}

#instagram-feed {
    padding: 100px 40px;
}

.form-label, .form-text, .form-check-label {
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: .9rem;
}

#contact-form form {
    padding-top: 30px;
}

#contact-form .the-form {
    padding: 60px 100px 20px 50px;
}

#contact-form form button {
    margin-top: 20px;
    background-color: #fc0202;
    padding: 15px 50px;
    border: none;
    font-family: 'Prompt', sans-serif;
    color: white;
    transition: .2s ease-in;
}

#contact-form form button:hover {
    background-color: white;
    color: #fc0202;
}

#map iframe {
    margin-top: -10px;
    height: 600px;
}

.owl-dots {
    display: none;
}

.owl-carousel, .owl-loaded, .owl-drag {
    padding: 0;
}

footer {
    padding: 20px 0 40px;
    border-bottom: 15px solid #fc0202;
}

footer p {
    font-size: .8rem;
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    #contact-form h2 {
        font-size: 3rem;
    }
    #contact-form .the-form {
        padding: 40px 100px 20px 50px;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    h1 {
        font-size: 4rem;
    }
    header {
        padding: 80px 0;
    }
    #contact-details {
        display: none;
    }
    #contact-details-mobile {
        display: block;
    }
    h2 {
        font-size: 3.5rem;
    }
    p {
        font-size: .9rem;
    }
    #contact-form h2 {
        font-size: 2.5rem;
    }
    #contact-form .the-form {
        padding: 20px 100px 20px 50px;
    }
    ul li {
        font-size: 1rem;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    nav .nav-item {
        padding: 0;
    }
    #nav-desktop {
        display: none;
    }
    #nav-mobile {
        display: block;
    }
    h1 {
        font-size: 3rem;
    }
    header {
        padding: 60px 0;
    }
    h3 {
        font-size: 2rem;
    }
    #contact-form .row {
        flex-direction: column-reverse;
    }
    #contact-details p, #contact-details-mobile p {
        font-size: 1rem;
    }
    #flavors img {
        width: 400px;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    h2 {
        font-size: 2.5rem;
    }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { ... }